.news-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.first-news {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    gap: 16px;
    margin-bottom: 32px;
}

.first-news .news-title {
    display: flex;
    width: 100%;
    font-family: 'Judson', serif;
    font-size: 1.7rem;
    font-weight: 700;
    text-align: justify;
    justify-content: center;
}

.first-news .news-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

    font-family: 'Vollkorn', serif;
    font-size: 1.2rem;
    text-align: justify;
}

.second-third-news {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: max-content;
    gap: 32px;
}

.second-news,
.third-news {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 400px;
    gap: 16px;
}
.second-news {
    width: 60%;
}
.third-news {
    width: 40%;
}

.second-third-news .news-content {
    width: 100%;
    height: 100%;
    overflow: hidden;

    font-family: 'Vollkorn', serif;
    font-size: 1.2rem;
    text-align: justify;
}
.second-third-news .news-title {
    font-family: 'Judson', serif;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: justify;
}

.second-third-news .news-image {
    max-height: 240px;
}

.news-read-btn {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 96px;
    height: 32px;
    border-radius: 4px;
    border: 2px dashed var(--accent-color);
    background-color: var(--item-color);
}
.news-read-btn a {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    gap: 8px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;

    font-family: 'Judson', serif;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
    color: var(--text-color); 
}

.news-read-btn a i {
    margin-top: 3px;
}

/* News */
section#news .magazine-posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr, 1fr;
    gap: 32px;
    justify-items: center;
}

section#news .magazine-posts .item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 320px;
    padding: 16px;
    border-radius: 8px;
    background-color: var(--item-color);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    cursor: default;
}
body.dark section#news .magazine-posts .item {
    box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.75);
}

section#news .magazine-posts .item a {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
}

section#news .magazine-posts .item img {
    width: 100%;
    height: 144px;
    border-radius: 8px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    object-fit: cover;
}

section#news .magazine-posts .item .news-category {
    font-family: 'volkorn', serif;
    font-size: 1rem;
    color: var(--accent-color);
    margin-bottom: 8px;
}

section#news .magazine-posts .item .news-title {
    font-family: var(--title-font);
    font-size: 1.2rem;
    font-weight: 700;
    text-align: justify;
    margin-bottom: 4px;
}

section#news .magazine-posts .item .news-content {
    font-family: var(--text-font);
    font-size: 1rem;
    text-align: justify;
}

section#news .magazine-posts .item .news-about {
    position: absolute;
    display: flex;
    bottom: 12px;
    flex-direction: column;
    width: calc(100% - 32px);
    height: max-content;
    justify-content: space-between;
    align-items: center;
}

section#news .magazine-posts .item .news-about p {
    font-family: var(--text-font);
    font-size: 0.8rem;
    color: var(--accent-color);
}

/* Category*/
.category-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 16px;
    justify-items: center;
}

.category-list .item {
    width: 100%;
    height: 48px;
    border-radius: 999px;
    border: 1px solid var(--accent-color);
}

.category-list .item a {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    border-radius: 999px;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    font-family: 'Vollkorn', serif;
    font-size: 1.1rem;
    text-decoration: none;
}

.category-list .item a i.bx  {
    margin-right: 8px;
}